<h1>Edit recept</h1>
<div class="container">
  <div class="title">
    Title:
    <input type="text" placeholder="Title" autofocus />
  </div>
  <div class="Description">
    Description:
    <textarea placeholder=" " />
  </div>
</div>